.deleteModal {
    background-repeat: no-repeat;
    background-color: rgba(254, 254, 254, 0.444);
    background-position: center;
    background-size: 100px 100px;
    top: 0;
    left: 0;
}

.deleteModal p {
    color: red;
    z-index: 10;
    font-size: 30px;
}

.deleteModal div div {
    margin-top: 60px;

}

.deleteModal div div button {
    margin-right: 20px;
    font-size: 20px;

}

.ant-modal-mask {
    background-color:unset!important;

}