.wrap-copyright {
    height: 60px;
}

.copyright {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    color: rgba(128, 128, 128, 0.774);
}