.product_hot {
    height: 50vh;
    margin-top: 20px;
}

.product_hot h1 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}

.product_hot .owl-carousel.owl-theme {
    height: 35vh !important;
}

.product_hot .owl-carousel.owl-theme img {
    height: 100%;
    width: 20vw;
    margin-left: 20px;
}

.product_hot .owl-carousel.owl-theme .owl-item {
    height: 100%;
}

.product_hot .owl-carousel.owl-theme .owl-stage-outer {
    height: 100%;
}

.product_hot .owl-carousel.owl-theme .owl-stage-outer .owl-stage {
    height: 100%;
}

.product_hot .owl-carousel.owl-theme .owl-stage-outer .owl-stage .owl-item {
    height: 100%;
    border: 0.01rem solid rgb(146, 42, 141);
    border-radius: 15px;
}

.product_hot .owl-carousel.owl-theme .owl-stage-outer .owl-stage .owl-item .item {
    height: 100%;

}

.product_hot .owl-nav {
    display: none;
}

.product_hot .discount {
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.608);
    font-size: 16px;
    margin-left: 10px;

}

.product_hot .pt-4 h4 {
    font-weight: 400;
    margin-bottom: 7px;
}

.product_hot .pt-4 p {
    color: rgb(255, 0, 0);
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 500;
}

.product_hot .pt-4 .qty {
    font-size: 18px;
    color: rgba(108, 108, 108, 0.738);
}

.product_hot .pt-4 .qty span {
    font-weight: 500;
    color: rgba(108, 108, 108, 0.86);
}